* {
  background-color: #000000;
  color: white;
  font-family: sans-serif;
}

header {
  display: flex;
  height: 96px;
  margin: 24px 60px;
  align-items: center;
}

header span {
  font-size: 32px;
}

header .menu {
  margin-left: auto;
}

header nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

header nav ul li a {
  margin: 0 10px;
  text-decoration: none;
  color: #C7C7C7;
}
