* {
  background-color: #000000;
  color: #FFFFFF;
  font-family: sans-serif;
}

header {
  display: flex;
  height: 96px;
  margin: 24px 60px;
  align-items: center;
}

header span {
  font-size: 32px;
}

header .menu {
  margin-left: auto;
}

header nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

header nav ul li a {
  margin: 0 10px;
  text-decoration: none;
  color: #C7C7C7;
}

main {
  margin: 0 108px;
}
main h1 {
  font-size: 60px;
  margin-bottom: 0;
}

main p {
  color: #C7C7C7;
}

#hello {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

#btns a {
  margin-right: 16px;
}

#hello img {
  border-radius: 16px;
}

hr {
  color: #484848;
}