* {
  color: var(--primary-color);
  font-family: sans-serif;
}

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #C7C7C7;
  --tertiary-color: #D3E97A;
  --quartenary--color: #c6e518;
  --quinary-color: #1A1A1A;
  background-color: #000000;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

hr,
.menu-link:hover,
main p {
  color: var(--secondary-color);
}

hr {
  border: solid 0.1rem;
}

header,
.unorder-menu,
.project {
  display: flex;
}

header {
  height: 10rem;
  margin: 0 10.8rem;
}

header span {
  font-size: 3rem;
}

.menu,
.my-journey-content {
  margin-left: auto;
}

.unorder-menu {
  list-style: none;
}

.menu-link,
.highlithed-text {
  color: var(--tertiary-color);
}


.menu-link {
  margin: 0 1rem;
  text-decoration: none;
}

main h1 {
  font-size: 4rem;
}

#hello,
#about-me,
#education,
#projects,
#contact,
#my-journey {
  margin: 4rem 10.8rem;
}

main p {
  line-height: 1.5;
}

#btns a {
  margin-right: 1.6rem;
}

#hello img {
  border-radius: 1.6rem;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  gap: 50px;
}

.project-content {
  width: 50rem;
}

.project-img {
  margin: auto;
  width: 600px;
  border: 1px solid white;
  border-radius: 5px;
}

header,
.year-field,
.stack {
  align-items: center;
}

#about-me,
#education,
#hello,
#contact,
.buttons,
.year-field,
.stack {
  display: flex;
  justify-content: space-between;
}

.buttons {
  margin-top: 2rem;
  flex-wrap: wrap;
}

.about-me-content,
.my-journey-content,
.education-content,
.courses-content,
form {
  width: 70rem;
}

.period {
  color: #FFFFFF;
}

label {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--quinary-color);
}

#submit-btn {
  border-radius: 10rem;
  padding: 2rem 4rem;
  color: var(--quinary-color);
  background-color: var(--tertiary-color);
  font-weight: 700;
}

#submit-btn:hover,
#myBtn:hover {
  cursor: pointer;
  background-color: var(--quartenary--color);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  z-index: 99;
  outline: none;
  background-color: var(--tertiary-color);
  color: var(--quinary-color);
  padding: 1rem 2rem;
  border-radius: 10rem;
  font-size: 1.8rem;
}