* {
  background-color: #000000;
  color: #FFFFFF;
  font-family: sans-serif;
}

hr {
  border: solid 1px #C7C7C7;
  width: 100%;
  margin: 0;
}

header {
  display: flex;
  height: 96px;
  margin: 24px 60px;
  align-items: center;
}

header span {
  font-size: 32px;
}

header .menu {
  margin-left: auto;
}

header nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

header nav ul li a {
  margin: 0 10px;
  text-decoration: none;
  color: #C7C7C7;
}

header nav ul li a:hover {
  color: #D3E97A;
}

main h1 {
  font-size: 60px;
  margin-bottom: 0;
  display: flex;
}

section,
#my-experience {
  margin: 80px 108px;
}

main p {
  color: #C7C7C7;
}

#hello {
  display: flex;
  justify-content: space-between;
}

#btns a {
  margin-right: 16px;
}

#hello img {
  border-radius: 16px;
}

.projects-title {
  margin-bottom: 80px;
}

.project {
  gap: 48px;
}

.project-img-space {
  width: 600px;
  height: 400px;
}

.project-content {
  width: 576px;
}

.year-field,
.stack {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project {
  display: flex;
}

.buttons {
  margin-top: 20px;
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
  color: #D3E97A;
}

#about-me,
#education {
  display: flex;
  justify-content: space-between;
}

.about-me-content,
.my-experience-content,
.education-content {
  width: 700px;
}

.my-experience {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.my-experience-content,
.education-content {
  margin-left: auto;
}

.job-company {
  color: #D3E97A;
}

#contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

form {
  width: 700px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  background-color: #1A1A1A;
}

#submit-btn {
  border-radius: 100px;
  padding: 20px 40px;
  color: #0A0A0A;
  background-color: #D3E97A;
  font-weight: 700;
}

#submit-btn:hover {
  cursor: pointer;
  background-color: #c6e518;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  outline: none;
  background-color: #D3E97A;
  color: #1A1A1A;
  cursor: pointer;
  padding: 20px 40px;
  border-radius: 100px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #c6e518;
}